<div class="header mb-5">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
		<div class="container">
			<a class="navbar-brand text-primary" href="{{ path('index') }}">Библиотека с музыкой</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{ path('groups') }}">Группы</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('albums') }}">Альбомы</a>
					</li>
				</ul>
				<form class="form-inline">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary mr-sm-2" type="submit">Поиск</button>
				</form>
				<form class="d-flex">
					<a class="btn btn btn-primary" type="button" href="{{ path('admin') }}">CRUD</a>
				</form>
			</div>
		</div>
	</nav>
</div>