{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {#  1  #}
        <div class="main pb-4">
            <div class="main-wrapper w-100 d-flex flex-row">
                <div class="main-text d-flex flex-column w-50">
                    <h6 class="mt-5 text-primary"></h6>
                    <h1 class="mb-3 mt-2">Бесплатная библеотека <br><span class="text-primary">с Музыкой.</span></h1>
                </div>
                <div class="main-img d-flex w-50">
                    <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/26/26805.png" alt="main"/>
                </div>
            </div>
        </div>
{% endblock %}